body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #1b2838;
    color: #acb2b8
}

header {
    color: #b8b6b4;
    height: 10%;
    background-color: #171a21;
    display: flex;
    text-align: center;
}

nav {
    margin: auto 3em;
}

li {
    display: inline-block;
}

nav ul{
    margin-left:40px;
}

nav li {
    padding: 0 1em;
}

nav li a {
    color: #b8b6b4;
}

a {
    color: #b8b6b4;
    text-decoration: none;
}

a:hover {
    color: #87bff2;
}

h1{
    margin-left: 50px;
}

.title {
    margin: 1em 5%;
    display: inline;
    display: flex;
    text-align: center;
    color: #ebebeb;
}


.title img {
    border: #b8b6b4 solid 2px;
}

.title div {
    display: inline;
    padding-left: 1em;
    margin: auto 0;
    font-size: x-large;
    font-weight: bold;
}

.title span {
    font-weight: normal;
    font-size: small;
}

.title .symbol {
    color: #b8b6b4;
    font-size: large;
}

aside {
    float:right;
    margin: 1% 5%;
    width: 30%;
    background-color: #171a21;
}

aside ul{
    margin-top: 15px;
    margin-bottom: 15px;
}

aside a {
    color: white;
}

aside img, aside ul {
    padding: 0;
    width: 100%;
}

aside li {
    display: block;
    text-align: center;
    padding: 0.2em 0;
}

section {
    margin: 0 5%;
}

section blockquote {
    margin: 0;
    width: 60%;
    font-size: small;
    background-color: #171a21;
    padding: 0.7em;
    color: #b8b6b4;
    border-top: 1px solid rgba(85, 125, 171, 0.6)
}

section h2{
    color: #ebebeb;
    font-size: 1.5em;
    margin-top: 19.920px;
    margin-bottom: 19.920px;
}

section p{
    margin-top: 16px;
    margin-bottom: 16px;
}

section p small{
    font-size: smaller;
}

hr {
    width: 90%;
    margin: 0 5%;
    border-width:0;
    height: 1px;
    color:rgba(85, 125, 171, 0.6);
    background-color:rgba(85, 125, 171, 0.6);
}

.value ul {
    margin-top: 13px;
    margin-bottom: 13px;
    display: inline-block;
    padding-left: 40px;
}

.value {
    color: #b8b6b4;
    font-size: small;
}

.value li {
    padding: 0.2em 0.6em;
    background-color: rgba(85, 125, 171, 0.6);
    border-radius: 3px;
}

h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    color: #ebebeb;
    margin-top: 18.720px;
}

h4 {
    font-weight: normal;
    color: #ebebeb;
    margin: 0;
}

h4 small {
    color: #56707f;
    font-size: smaller;
}

.comment li {
    display: block;
    margin: 1.5em 0;
}

.comment {
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 40px;
}

.active {
    color:#87bff2;
}